
.heading-secondary {
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7ed56f,#28b485);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .5s;
    cursor: pointer;

}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#1f1f1f, .2); 
}

/* left to right  movement animation */
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-12rem);
    }
  
    70% {
      transform: translateX(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

/* using animation via class */
.heading-primary--main {
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

h1 {
    background-image: linear-gradient(to right,#ffb900,#ff7730);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .5s;
    cursor: pointer;

}

