{% extends 'base.html' %}
{% load embed_video_tags %}

{% block content %}
<div class="container mt-5">
    <div class="btn btn-primary" style="margin-bottom: 12px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <!-- Go back to previous page -->
        <input type=button class="btn btn primary" value="Go back" onClick="javascript:history.go(-1);">
    </div>
    <div>
        <h1>Video Detail: {{ course.title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!--  video player section  -->
            {% if video.video_url %}
                <div class="embed-responsive embed-responsive-16by9">
                      {% video video.video_url 'small' %}
                </div>
            {% elif video.video_file %}
                <video width="100%" height="auto" controls>
                    <source src="{{ video.video_file.url }}" type="{{ video.video_file.content_type }}">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <p>No video available for this course.</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <!-- section for the list of video titles -->
            <h2>Video Titles</h2>
            <ul class="list-group">
                {% for video in videos %}
                    <a href="{% url 'course:course_detail' course.pk video.pk %}">
                        <li class="list-group-item">{{ video.title }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
