{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>List of Courses</h1>
    <p>Total Courses: {{ courses.count }}</p>
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.title }} Image" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <p class="card-text">
                            Price: ${{ course.price }}
                            {% if course.is_free %}
                                <span class="badge badge-success">Free</span>
                            {% else %}
                                <span class="badge badge-warning">Paid</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  
</div>
{% endblock %}

