{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Login</h2>
    {% include 'alerts.html' %}
 <!--  -->
    <form method="post" action="{% url 'authentication:login' %}">
       
        {% csrf_token %} 
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" class="form-control" id="password" name="pass">
         </div>
        <button type="submit" class="btn btn-primary">Log In</button>
 
        <a href="{% url 'authentication:signup' %}" >Create a account</a>
    </form>
</div>
{% endblock %}

